In [1]:
import pandas as pd
import nltk 
from nltk.stem import WordNetLemmatizer
import gensim
from gensim.models import Doc2Vec
import pickle

In [3]:
df_NM= pd.read_csv("D:\FINAL_PM_Modi_Speech_Cleaned_string.csv")

In [4]:
df_NM.head()

,index,Date,Speech,Title,Cleaned_Speech,Cleaned_Speech_string
0,NMS1,2017-01-03,"Governor of Andhra Pradesh, Shri E. S. L. Nara...",PM's Address at the Inauguration of the 104th ...,['governor andhra pradesh shri e l narasimhan ...,governor andhra pradesh shri e l narasimhan ch...
1,NMS2,2017-01-09,Chief Minister of Gujarat Shri Vijay Rupani ji...,Text of PM's address at the Inauguration of No...,['chief minister gujarat shri vijay rupani ji ...,chief minister gujarat shri vijay rupani ji co...
2,NMS3,2017-01-09,I am delighted to be here at Gift City to ina...,Text of PM’s address on the occasion of Inaugu...,['delighted gift city inaugurate india first i...,delighted gift city inaugurate india first int...
3,NMS4,2017-02-01,I congratulate the Finance Minister Arun Jaitl...,English rendering of the Prime Minister’s Stat...,['congratulate finance minister arun jaitley j...,congratulate finance minister arun jaitley jee...
4,NMS5,2017-02-05,Sri Pejavar Math’s most respected Sri Vishwesh...,English rendering of the text of PM’s address ...,['sri pejavar math respected sri vishwesh tirt...,sri pejavar math respected sri vishwesh tirth ...

In [5]:
df_MS= pd.read_csv("D:\PM_MANMOHAN_Speech_Cleaned_string (1).csv")

In [6]:
df_MS = df_MS.drop('Location', axis=1)

In [7]:
df_MS.head()

,index,Date,Title,Speech,Cleaned_Speech,Cleaned_Speech_string
0,MSS1,2004-06-24,Prime Minister 's Address to the Nation,"My Fellow Citizens,I speak to you with a deep...",['fellow citizen speak deep sense humility ful...,fellow citizen speak deep sense humility fully...
1,MSS2,2004-06-29,PM's inaugural address at the Chief Ministers'...,"""I welcome you all to this Conference which w...",['welcome conference take stock effort rural d...,welcome conference take stock effort rural dev...
2,MSS3,2004-07-03,"PM's inaugural address at the ""Dialogue on Min...","""It gives me great pleasure to be amongst you...","['give great pleasure amongst morning', 'parti...",give great pleasure amongst morning particular...
3,MSS4,2004-07-26,PM's speech at the CSIR Society Meeting,"Distinguished Members of the CSIR Society, La...",['distinguished member csir society lady gentl...,distinguished member csir society lady gentlem...
4,MSS5,2004-07-31,PM’ statement at the Press Conference,"\n\t""My two days in Bangkok have been very use...","['two day bangkok useful productive', 'first b...",two day bangkok useful productive first bimste...

In [8]:
df_MS.shape

(1351, 6)

In [10]:
df_NM.shape

(1182, 6)

In [11]:
meta_df = pd.concat([df_MS, df_NM])
meta_df.reset_index(drop=True, inplace=True)
meta_df

,index,Date,Title,Speech,Cleaned_Speech,Cleaned_Speech_string
0,MSS1,2004-06-24,Prime Minister 's Address to the Nation,"My Fellow Citizens,I speak to you with a deep...",['fellow citizen speak deep sense humility ful...,fellow citizen speak deep sense humility fully...
1,MSS2,2004-06-29,PM's inaugural address at the Chief Ministers'...,"""I welcome you all to this Conference which w...",['welcome conference take stock effort rural d...,welcome conference take stock effort rural dev...
2,MSS3,2004-07-03,"PM's inaugural address at the ""Dialogue on Min...","""It gives me great pleasure to be amongst you...","['give great pleasure amongst morning', 'parti...",give great pleasure amongst morning particular...
3,MSS4,2004-07-26,PM's speech at the CSIR Society Meeting,"Distinguished Members of the CSIR Society, La...",['distinguished member csir society lady gentl...,distinguished member csir society lady gentlem...
4,MSS5,2004-07-31,PM’ statement at the Press Conference,"\n\t""My two days in Bangkok have been very use...","['two day bangkok useful productive', 'first b...",two day bangkok useful productive first bimste...
...,...,...,...,...,...,...
2528,NMS1178,2023-04-09,English rendering of PM’s address at the inaug...,My colleagues in the Union Cabinet Shri Bhupen...,['colleague union cabinet shri bhupender yadav...,colleague union cabinet shri bhupender yadav j...
2529,NMS1179,2023-04-12,English rendering of PM’s address at training ...,Namaskar! \n\nThe campaign to provide governme...,"['namaskar', 'campaign provide government job ...",namaskar campaign provide government job youth...
2530,NMS1180,2023-04-12,English rendering of PM’s address during flagg...,"Namaskar, Governor of Rajasthan Shri Kalraj Mi...",['namaskar governor rajasthan shri kalraj mish...,namaskar governor rajasthan shri kalraj mishra...
2531,NMS1181,2023-04-14,English rendering of PM’s address at inaugurat...,"Governor of Assam Shri Gulab Chand Kataria ji,...",['governor assam shri gulab chand kataria ji c...,governor assam shri gulab chand kataria ji chi...
2532,NMS1182,2023-04-15,Text of Prime Minister’s video message at the ...,"President of the World Bank, Her Excellency, t...",['president world bank excellency minister ene...,president world bank excellency minister energ...

In [12]:
META = open("META.pickle", "wb")
pickle.dump(meta_df, META)
META.close()

In [13]:
meta_df.shape

(2533, 6)

In [14]:
meta_df['Cleaned_Speech_string'] = meta_df['Cleaned_Speech_string'].astype(str)

In [15]:
corpus_tokenized = [nltk.word_tokenize(sentence) for sentence in meta_df["Cleaned_Speech_string"]]

In [16]:
len(corpus_tokenized)

2533

In [17]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
tagged_docs = [TaggedDocument(words=doc, tags=[i]) for i, doc in enumerate(corpus_tokenized)]

In [18]:
len(tagged_docs)

2533

In [19]:
#TRAINING THE MODEL OVER OUR DATA
model = Doc2Vec(tagged_docs, vector_size=300, window=5, min_count=5, workers=4, epochs=20)

In [20]:
#dumping the model in a pickle so that we do not need to re-run model againas it would yield new set of vectors 
MS_NM_model = open("MS_NM_model.pickle", "wb")
pickle.dump(model, MS_NM_model)
MS_NM_model.close()

In [21]:
import pandas as pd

# Create an empty DataFrame with the desired column names
df_data = pd.DataFrame(columns=['index', 'vector'])

# Iterate over the corpus_tokenized list and generate a vector for each element
for i, speech in enumerate(corpus_tokenized):
    vector = model.infer_vector(speech)
    # Store the index number and vector in a dictionary
    data = {'index': i, 'vector': vector}
    # Add the dictionary as a new row in the DataFrame
    df_data.loc[len(df_data)] = data

In [22]:
df_data

      index                                             vector
0         0  [1.7292169, 0.24531603, -0.49349257, 0.0292683...
1         1  [1.8039554, 1.2308947, -0.8856403, -0.66318125...
2         2  [0.57423955, -0.45876718, 0.18095286, -1.05285...
3         3  [0.6645835, -0.23671997, -0.93766534, 1.754107...
4         4  [1.1738172, 0.4191998, 0.4609588, 0.7686828, -...
...     ...                                                ...
2528   2528  [0.06316776, 0.09831944, 0.25313905, -0.488186...
2529   2529  [0.4544076, -0.13855988, -0.33112326, -0.16365...
2530   2530  [0.60491425, 0.64564985, -1.6238449, -1.116028...
2531   2531  [0.56554157, 1.3492775, -1.6794484, -0.4301784...
2532   2532  [0.012544004, 0.82390296, -1.9500002, 0.367476...

[2533 rows x 2 columns]

In [23]:
# Extract the vectors as a list from the 'vector' column
vectors = df_data['vector'].tolist()
num_dimensions = len(vectors[0])
num_dimensions

300

In [24]:
# Create column names with unique suffixes
column_names = ['dim_{}'.format(i) for i in range(1, num_dimensions + 1)]

# Create a list of dictionaries representing each row in the new DataFrame
new_data = [{column_names[i]: vector[i] for i in range(num_dimensions)} for vector in vectors]

# Create the new DataFrame
df_new = pd.DataFrame(new_data)
df_new

,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,dim_9,dim_10,...,dim_291,dim_292,dim_293,dim_294,dim_295,dim_296,dim_297,dim_298,dim_299,dim_300
0,1.729217,0.245316,-0.493493,0.029268,0.330834,-0.764485,-0.530714,-0.918960,0.605372,1.213468,...,-0.622933,0.216431,0.466657,0.949482,-0.200474,-1.695715,-0.294176,0.174417,-0.316305,0.285695
1,1.803955,1.230895,-0.885640,-0.663181,-2.109583,-0.297170,-0.807866,-0.755965,-0.838983,3.226501,...,0.514852,-0.935095,0.911103,0.573316,0.113726,0.023391,0.583217,-0.030564,0.457275,-0.488943
2,0.574240,-0.458767,0.180953,-1.052859,-0.301949,-0.603319,-1.509269,-0.870443,0.345276,0.524611,...,-1.347703,-0.434989,-0.523450,-0.291855,-0.109767,-1.309015,-0.264903,0.005824,-0.194770,-0.770215
3,0.664584,-0.236720,-0.937665,1.754107,0.647106,1.376578,-0.491415,0.226166,-0.872299,0.856417,...,-0.242976,0.149754,0.343483,-0.014610,0.316516,-0.651860,1.285176,-0.571308,0.497994,-0.154224
4,1.173817,0.419200,0.460959,0.768683,-1.166203,-1.001240,-0.191754,-0.424820,-0.206357,1.059748,...,0.307194,1.019033,0.091227,0.459494,0.488245,-1.041828,0.107056,0.148993,-0.523627,0.504566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,0.063168,0.098319,0.253139,-0.488186,0.737574,0.541163,-1.570866,0.079295,-0.293344,-1.538060,...,2.005187,-2.112913,0.440736,0.454736,0.384735,0.517010,-0.670551,-1.266957,1.051938,1.919566
2529,0.454408,-0.138560,-0.331123,-0.163651,0.785148,-0.507341,-0.685291,1.182693,0.636671,-1.054161,...,0.313126,-0.151662,-0.036966,-0.610826,-2.254540,-0.605663,0.495140,0.387016,-0.085275,0.849042
2530,0.604914,0.645650,-1.623845,-1.116028,-0.501931,-0.593036,0.373793,-0.182061,-0.112844,-0.887427,...,1.739309,0.005688,0.287379,1.136948,-0.072742,-0.840421,-1.464063,-1.112515,3.272193,-3.896594
2531,0.565542,1.349277,-1.679448,-0.430178,0.034780,-0.638081,-2.262594,-0.220345,-0.099406,0.688833,...,0.418089,1.412563,-1.310003,-0.734481,0.181640,-0.124939,-0.247587,0.132718,1.044298,-1.157660
2532,0.012544,0.823903,-1.950000,0.367477,-0.173779,-2.267922,-1.025347,-1.511740,0.920280,-0.507514,...,0.551924,-0.614551,-1.176612,-1.521704,1.875636,2.816921,-1.505067,1.541065,0.173042,1.268299

In [25]:
MS_NM_vector = open("MS_NM_vector.pickle", "wb")
pickle.dump(df_new,MS_NM_vector)
MS_NM_vector.close()

In [26]:
df_new.insert(0, "index", meta_df["index"])
df_new.insert(1, "Date", meta_df["Date"])

In [27]:
df_new

,index,Date,dim_1,dim_2,dim_3,dim_4,dim_5,dim_6,dim_7,dim_8,...,dim_291,dim_292,dim_293,dim_294,dim_295,dim_296,dim_297,dim_298,dim_299,dim_300
0,MSS1,2004-06-24,1.729217,0.245316,-0.493493,0.029268,0.330834,-0.764485,-0.530714,-0.918960,...,-0.622933,0.216431,0.466657,0.949482,-0.200474,-1.695715,-0.294176,0.174417,-0.316305,0.285695
1,MSS2,2004-06-29,1.803955,1.230895,-0.885640,-0.663181,-2.109583,-0.297170,-0.807866,-0.755965,...,0.514852,-0.935095,0.911103,0.573316,0.113726,0.023391,0.583217,-0.030564,0.457275,-0.488943
2,MSS3,2004-07-03,0.574240,-0.458767,0.180953,-1.052859,-0.301949,-0.603319,-1.509269,-0.870443,...,-1.347703,-0.434989,-0.523450,-0.291855,-0.109767,-1.309015,-0.264903,0.005824,-0.194770,-0.770215
3,MSS4,2004-07-26,0.664584,-0.236720,-0.937665,1.754107,0.647106,1.376578,-0.491415,0.226166,...,-0.242976,0.149754,0.343483,-0.014610,0.316516,-0.651860,1.285176,-0.571308,0.497994,-0.154224
4,MSS5,2004-07-31,1.173817,0.419200,0.460959,0.768683,-1.166203,-1.001240,-0.191754,-0.424820,...,0.307194,1.019033,0.091227,0.459494,0.488245,-1.041828,0.107056,0.148993,-0.523627,0.504566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2528,NMS1178,2023-04-09,0.063168,0.098319,0.253139,-0.488186,0.737574,0.541163,-1.570866,0.079295,...,2.005187,-2.112913,0.440736,0.454736,0.384735,0.517010,-0.670551,-1.266957,1.051938,1.919566
2529,NMS1179,2023-04-12,0.454408,-0.138560,-0.331123,-0.163651,0.785148,-0.507341,-0.685291,1.182693,...,0.313126,-0.151662,-0.036966,-0.610826,-2.254540,-0.605663,0.495140,0.387016,-0.085275,0.849042
2530,NMS1180,2023-04-12,0.604914,0.645650,-1.623845,-1.116028,-0.501931,-0.593036,0.373793,-0.182061,...,1.739309,0.005688,0.287379,1.136948,-0.072742,-0.840421,-1.464063,-1.112515,3.272193,-3.896594
2531,NMS1181,2023-04-14,0.565542,1.349277,-1.679448,-0.430178,0.034780,-0.638081,-2.262594,-0.220345,...,0.418089,1.412563,-1.310003,-0.734481,0.181640,-0.124939,-0.247587,0.132718,1.044298,-1.157660
2532,NMS1182,2023-04-15,0.012544,0.823903,-1.950000,0.367477,-0.173779,-2.267922,-1.025347,-1.511740,...,0.551924,-0.614551,-1.176612,-1.521704,1.875636,2.816921,-1.505067,1.541065,0.173042,1.268299

In [28]:
MS_NM_index_date_vector_df = open("MS_NM_index_date_vector_df .pickle", "wb")
pickle.dump(df_new, MS_NM_index_date_vector_df )
MS_NM_index_date_vector_df .close()